* {box-sizing: border-box}





.tituloCat{
    text-align:center;
    width: 150px;
    padding: 1% 2%;
    margin-left: 40%;
    margin-right: 10%;
    background-color: crimson;
    color: #f1f1f1;
    display: block;
    border-radius: 10%;
    margin-bottom: 1%;
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  height: 310px;
  margin-top: 2%;
  
  margin-left: 10%;
  transition: 0.3s;
}

/*
.slideshow-container tr, .slideshow-container td{
  border: 1px solid black;
  
}
*/

.slide{
    height: 300px;
    max-width: 20%;
    display: inline;
    float: left;
    left: 5%;
    margin: 0 2%;
    background-color: #e3e3e3;
   
}
.slide img{
    height: 80%;
    max-width: 100%;
    vertical-align: middle;
}
.slide img:hover{
    opacity: 0.7;
}
.slide a{
  text-decoration: none;
  color: black;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  margin-top:15%;
  width: auto;
  padding: 16px;
  
  color: crimson;
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  z-index: 1;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
 right: 12% ;
 float: right;
  margin-left: 0;
  border-radius: 0 3px 3px 0;
  
}
.prev{
  
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #e3e3e3;
  color: black;
}