/*
Colores usados por la pagina 
$red-pigment: rgba(255, 27, 45, 1);
$lava: rgba(203, 11, 30, 1);
$carnelian: rgba(178, 3, 23, 1);
$tart-orange: rgba(254, 74, 74, 1);
*/

body { 
    /*background-color: rgb(7, 7, 7); /* el color del cuerpo va mantenerse igual durante toda la pagina, veremos a ver si lo cambiamos más adelante*/
    /*color: #f2f2f2; /* lo mismo con el color de la fuente*/
}



.footerNav{
    text-align: center;
 text-decoration: none;
 height: 10%;
 
border: 1 px solid black;
background-color: #c3c3c3;
}
.footerNav nav{
    border-top: 1px solid black;
    padding-top: 0.5%;
 padding-bottom: 1%;
}

.footerNav a{
    text-decoration: none;
    margin: 0% 1%;
    
}